//  section gallery

.gallery-section {

    @include mq(not-desctop) {
      display: none;
    }
  }
  
  .gallery__subtitle {
      color: var(--link-color);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
    
      margin-bottom: 50px;
    }
    
    .gallery__list {
      display: flex;
      justify-content: center;
    }
    
    .gallery__item {
      margin-right: 30px;
    }
    
    .gallery__item:last-child {
      margin-right: 0px;
    }
    
    .gallery__item {
      position: relative;
    }
    
    .gallery__text {
      position: absolute;
    
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
    
      display: flex;
      align-items: center;
      justify-content: center;
    
      font-family: inherit;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    
      color: #ffffff;
      background-color: rgba(47, 48, 58, 0.8);
    }