:root {
  /* text colors */
  --accent-color: #2196f3;
  --networksvg-color: #afb1b8;

  /* background colors */
  --primary-bcg-color: #ffffff;

  /* cubic-bizier */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
