<footer class="footer">
  <div class="container footer__container">
    <div class="footer__adress">
      <a class="logo logo--down" href="./index.html">
        Web<span class="logo__footer">Studio</span></a
      >
      <address>
        <ul class="contacts">
          <li class="contacts__item">
            <a
              class="contacts__decor"
              href="https://goo.gl/maps/PAiW9LLceKNYEAaVA"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >г. Киев, пр-т Леси Украинки, 26</a
            >
          </li>
          <li class="contacts__item">
            <a
              class="contacts__decor--transparency"
              href="mailto:info@example.com"
              >info@example.com</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__decor--transparency" href="tel:380991111111"
              >+38 099 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="join">
      <p class="join__title">присоединяйтесь</p>
      <ul class="social-list">
        <li class="social-list__item">
          <a
            class="social-list__link social-list__link--footer"
            href=""
            aria-label="Icon Instagram"
          >
            <svg class="social-list__icon" width="20" height="20">
              <use href="./images/icons-VT.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            class="social-list__link social-list__link--footer"
            href=""
            aria-label="Icon Twitter"
          >
            <svg class="social-list__icon adress-icon" width="20" height="20">
              <use href="./images/icons-VT.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            class="social-list__link social-list__link--footer"
            href=""
            aria-label="Icon Facebook"
          >
            <svg class="social-list__icon adress-icon" width="20" height="20">
              <use href="./images/icons-VT.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            class="social-list__link social-list__link--footer"
            href=""
            aria-label="Icon Linkedin"
          >
            <svg class="social-list__icon adress-icon" width="20" height="20">
              <use href="./images/icons-VT.svg#linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <form class="subscription" autocomplete="off">
      <label class="subscription__label" for="subscription"
        >Подпишитесь на рассылку</label
      >
      <div class="subscription__form">
        <input
          class="subscription__input"
          type="email"
          name="subscription"
          id="subscription"
          placeholder="E-mail"
        />
        <button class="subscription__button" type="submit">
          <span class="subscription__send">Подписаться</span>
          <svg class="subscription__icon" width="24" height="24">
            <use href="./images/icons-VT.svg#icon-send"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</footer>
