  <!-- section gallery -->
  <section class="gallery-section section">
    <div class="gallery-container container">
      <h2 class="gallery__subtitle">Чем мы занимаемся</h2>
      <ul class="gallery__list list">
        <li class="gallery__item">
          <img
            srcset="
              ./src/images/gallery/keyboard-desc.jpg    370w,
              ./src/images/gallery/keyboard-desc@2x.jpg 740w
            "
            src="./src/images/gallery/keyboard-desc.jpg"
            alt="Десктопные приложения"
            sizes="(min-width: 1200px) 370px"
            loading="lazy"
          />
          <p class="gallery__text">Десктопные приложения</p>
        </li>
        <li class="gallery__item">
          <img
            srcset="
              ./src/images/gallery/phone-desc.jpg    370w,
              ./src/images/gallery/phone-desc@2x.jpg 740w
            "
            src="./src/images/gallery/phone-desc.jpg"
            alt="Мобильные приложения"
            sizes="(min-width: 1200px) 370px"
            loading="lazy"
          />
          <p class="gallery__text">Мобильные приложения</p>
        </li>
        <li class="gallery__item">
          <img
            srcset="
              ./src/images/gallery/tablet-desc.jpg    370w,
              ./src/images/gallery/tablet-desc@2x.jpg 740w
            "
            src="./src/images/gallery/tablet-desc.jpg"
            alt="Дизайнерские решения"
            sizes="(min-width: 1200px) 370px"
            loading="lazy"
          />
          <p class="gallery__text">Дизайнерские решения</p>
        </li>
      </ul>
    </div>
  </section>