<section class="team">
    <div class="container team__container">
      <h2 class="subtitle">Наша команда</h2>
      <ul class="team__staff">
        <li class="item team__item">
          <img srcset="
                ./images/team/1-270.jpg 270w,
                ./images/team/1-354.jpg 354w,
                ./images/team/1-450.jpg 450w,
                ./images/team/1-540.jpg 540w,
                ./images/team/1-708.jpg 708w,
                ./images/team/1-900.jpg 900w
              " src="./images/team/1-450.jpg" alt="людина"
            sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (max-width: 767px) 450px, 100vw"
            loading="lazy" />
          <div class="team__desc">
            <h3 class="team__name">Игорь Демьяненко</h3>
            <p lang="en" class="text team__text">Product Designer</p>
            <ul class="team-block">
              <li class="team-block__item">
                <a class="team-block__link" href="" aria-label="icon-instagram">
                  <svg class="team-block__icon" width="20px" height="20px">
                    <use href="./images/team/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-block__item">
                <a class="team-block__link" href="" aria-label="icon-twitter"><svg class="team-block__icon"
                    width="20px" height="20px">
                    <use href="./images/team/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team-block__item">
                <a class="team-block__link" href="" aria-label="icon-facebook">
                  <svg class="team-block__icon" width="20px" height="20px">
                    <use href="./images/team/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-block__item">
                <a class="team-block__link" href="" aria-label="icon-linkedin"><svg class="team-block__icon"
                    width="20px" height="20px">
                    <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="item team__item">
          <img srcset="
                ./images/team/2-270.jpg 270w,
                ./images/team/2-354.jpg 354w,
                ./images/team/2-450.jpg 450w,
                ./images/team/2-540.jpg 540w,
                ./images/team/2-708.jpg 708w,
                ./images/team/2-900.jpg 900w
              " src="./images/team/2-450.jpg" alt="людина"
            sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (max-width: 767px) 450px, 100vw"
            loading="lazy" />
          <div class="team__desc">
            <h3 class="team__name">Ольга Репина</h3>
            <p lang="en" class="text team__text">Frontend Developer</p>
            <ul class="team-block">
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-instagram">
                    <svg class="team-block__icon" width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-twitter"><svg class="team-block__icon"
                      width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-facebook">
                    <svg class="team-block__icon" width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-linkedin"><svg class="team-block__icon"
                      width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
          </div>
        </li>
        <li class="item team__item">
          <img srcset="
                ./images/team/3-270.jpg 270w,
                ./images/team/3-354.jpg 354w,
                ./images/team/3-450.jpg 450w,
                ./images/team/3-540.jpg 540w,
                ./images/team/3-708.jpg 708w,
                ./images/team/3-900.jpg 900w
              " src="./images/team/3-450.jpg" alt="людина"
            sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (max-width: 767px) 450px, 100vw"
            loading="lazy" />
          <div class="team__desc">
            <h3 class="team__name">Николай Тарасов</h3>
            <p lang="en" class="text team__text">Marketing</p>
            <ul class="team-block">
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-instagram">
                    <svg class="team-block__icon" width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-twitter"><svg class="team-block__icon"
                      width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-facebook">
                    <svg class="team-block__icon" width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-linkedin"><svg class="team-block__icon"
                      width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
          </div>
        </li>
        <li class="item team__item">
          <img srcset="
                ./images/team/4-270.jpg 270w,
                ./images/team/4-354.jpg 354w,
                ./images/team/4-450.jpg 450w,
                ./images/team/4-540.jpg 540w,
                ./images/team/4-708.jpg 708w,
                ./images/team/4-900.jpg 900w
              " src="./images/team/4-450.jpg" alt="людина"
            sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (max-width: 767px) 450px, 100vw"
            loading="lazy" />
          <div class="team__desc">
            <h3 class="team__name">Михаил Ермаков</h3>
            <p lang="en" class="text team__text">UI Designer</p>
            <ul class="team-block">
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-instagram">
                    <svg class="team-block__icon" width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-twitter"><svg class="team-block__icon"
                      width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-facebook">
                    <svg class="team-block__icon" width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-block__item">
                  <a class="team-block__link" href="" aria-label="icon-linkedin"><svg class="team-block__icon"
                      width="20px" height="20px">
                      <use href="./images/team/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>